$theme-colors: (
  'info': tomato,
  'danger': teal
);

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';

body {
  background-color: #202020;
}


@media (min-width: 992px) {
  .col-lg-2 {
      flex: 0 0 auto;
      width: 20%;
  }
}
